.img_table{
    width: 50px;
    height: 50px;
    border-radius: 10%;
    padding: 10px;
    cursor: pointer;
}
.MuiTooltip-tooltip {
    background-color: #000000;
    color: #ffffff;
    font-size: 10px;
}